<!-- Mini Posts -->
<section>
  <div class="mini-posts">
    {{# cosmic.objects.type.posts }}
      <!-- Mini Post -->
      <article class="mini-post">
        <header>
          <h3><a href="/{{ slug }}">{{ title }}</a></h3>
          <time class="published">{{ created_friendly }}</time>
          <a href="#" class="author"><img src="https://cosmicjs.com/uploads/{{ metafield.author.object.metafields.0.value }}" alt="" /></a>
        </header>
        <a href="/{{ slug }}" class="image"><img src="https://cosmicjs.com/uploads/{{{ metafield.hero.value }}}" alt="" /></a>
      </article>
    {{/ cosmic.objects.type.posts }}
  </div>
</section>
